/* Your existing styles remain unchanged */

#carousel-container {
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.carousel-item img {
    object-fit: cover;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.7);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 15px; /* Decreased padding for smaller caption container */
    text-align: center;
    color: #fff;
    font-size: 16px; /* Decreased font size for captions */
    opacity: 0.9;
    transition: opacity 0.5s ease;
}

.carousel-item:hover .carousel-caption {
    opacity: 1;
}

/* Always show caption on mobile devices */
@media (max-width: 767.98px) {
    .carousel-caption {
        opacity: 1;
        font-size: 14px; /* Further decreased font size for mobile */
        padding: 10px; /* Further decreased padding for smaller caption container */
    }
}

/* Hide caption on larger screens */
@media (min-width: 768px) {
    .carousel-caption {
        display: none;
    }
}
